body{
    font-family: Arial, Helvetica, sans-serif;
    color: #262228;
}

canvas{
    width: 100%;
    align-self: center;
    display: inline;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
}

.scene {
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px gray;
}

.simulation {
    margin-top: 10px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px gray;
}

.sliderInput{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sliderLabel{
    min-width: 100px;
    display: flex;
    margin-left: 10px;
    justify-content: left;
}

.slidecontainer {
    margin: 10px;
    width: 100%;
}

.slider:hover {
    opacity: 1; 
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    border-radius: 3px;
    height: 25px; 
    width: 100%;
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    box-shadow: 0 3px #999;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #262228; 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #262228; 
    cursor: pointer; 
}

.genetic {
    margin-top: 10px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px gray;
}

.results {
    margin: 10px;
    border-radius: 10px;
    background-color: #d3d3d3;
    box-shadow: 0 0 10px gray;
}

.resultsHeader {
    background-color: #037584;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.resultsSub {
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 15px;
}

.resultsLabel {
    font-size: 16px;
    font-weight: normal;
}


.button {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #037584;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}

.button:hover {background-color: #04616d}

.button:active {
    background-color: #04616d;
    transform: translateY(1px);
}

.notbold{
    font-weight:normal;
}
